.App {
  min-height: 100vh;
  width: 100%;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0052a3;
}